---
layout: archive
title: <font face = "Economica" size = "10" style= "bold">Contribution to Conferences and Seminars</font>
permalink: /talks/
author_profile: true
---
(Updated on February, 2023)

<!-- <p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p> -->

<!--
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
-->
<ul>
  
  <li> <p> <font color="LightGray">iPoster</font>: <em>"Breaking the laws": A segmented period-luminosity relation in delta Scuti stars</em>.
  <br>The 241st Meeting of the American Astronomical Society (Seattle, USA), Jan 8-12, 2023. </li> </p>

  <li> <p> <font color="Gold">Invited Colloquium</font>: <em>Discovering new dwarf galaxies in the Local Group</em>.
  <br>Seminar at University of Hawai'i Hilo, 495 seminar class (Hawai'i, USA), Oct 21, 2022. </li> </p>
  
<li> <p> <font color="Gold">Invited Review Talk</font>: <em>Variable stars in Local Group galaxies</em>. 
  <br>RRLCep2022: Large-scale surveys as bridges between spectroscopy and photometry (La Palma, Spain), Sep 26-30, 2022. </li> </p>
  
<li> <p> <font color="DodgerBlue">Talk</font>: <em>RR Lyrae stars in ultra-faint dwarf galaxies in the era of the large surveys</em>.
  <br>DECam at 10 years -- Looking Back, Looking Forward (Tucson, USA). Sep 12-14, 2022. </li> </p>
  
<li> <p> <font color="LightGray">Poster</font>: <em>A deeper look into main-sequence and blue straggler stellar pulsators in extragalactic systems</em>. 
  <br>Gemini Science Meeting 2022 (Seoul, South Korea), July 26-29, 2022.  </li> </p>
  
<li> <p> <font color="Gold">Invited Talk</font>: <em>Milky Way science with DES data</em>.
  <br>IAC Dark Energy Survey Data Workshop 2022 (La Laguna, Tenerife, Spain), Jun 16-17, 2022.  </li> </p>

<li> <p> <font color="DodgerBlue">Talk</font>: <em>The fast and early evolution of Eridanus II</em>.
  <br>DES Collaboration meeting 2022 (Duke University, North Carolina, USA + Virtual meeting [COVID]), May 23-27, 2022. </li> </p>

<li> <p> <font color="Gold">Invited Talk</font>: <em> A deeper look into main-sequence and blue straggler stellar pulsators in extragalactic systems</em>. 
   <br>Stars and the ISM with Gemini's Fast Turnaround (FT) observation Splinter Session at the 239th Meeting of the American Astronomical Society (Salt Lake City, Utah, USA), Jan 9-13, 2022 [In person cancelled for COVID].
  
  <li> <p> <font color="LightGray">Poster</font>: <em>"Twinkle, Twinkle Little Stars" — The Importance of Finding RR Lyrae Stars in Ultra-Faint Dwarf Galaxies</em>.
   <br>Star Clusters: the Gaia Revolution (Virtual meeting [COVID]), Oct 5-7, 2021.  </li> </p>

<li> <p> <font color="DodgerBlue">Talk</font>: <em>The DECam Local Volume Exploration Survey (DELVE): Overview and Update</em>.
   <br>Parallel Milky Way Session at the DES Collaboration Meeting 2021 (Virtual meeting [COVID]), May 17-21, 2021.  </li> </p>

<li> <p> <font color="DodgerBlue">Talk</font>: <em>"Getting MADS": The age of the SMC cluster NGC 419 measured with delta Scuti stars</em>.
  <br>The 237th Meeting of the American Astronomical Society (Virtual meeting [COVID]), Jan 10-15, 2021. </li> </p>
  
<li> <p> <font color="DodgerBlue">Talk</font>: <em>Tracing the early chemical evolution of Local Group dwarf galaxies using RR Lyrae stars</em>.
  <br>XVI SOCHIAS Annual Meeting (Virtual meeting [COVID]), Dec 9-12, 2020. </li> </p>
  
<li> <p> <font color="DodgerBlue">Talk</font>: <em>Studying the early chemical evolution of dwarf galaxies in different environments with RR Lyrae stars</em>.
  <br>Linking the Galactic and Extragalactic: Stellar Dynamics and Stellar Population of the Milky Way and its Siblings (Virtual meeting [COVID]), Dec 3-4, 2020. </li> </p>
  
<li> <p> <font color="Gold">Invited Colloquium</font>: <em>The formation and evolution of Local group dwarf galaxies told by their RR Lyrae stars</em>.
  <br>Virtual seminar at Universidad de Chile (Departamento de Astrofísica, Cerro Calán), 10 Sep 2020. </li> </p>

<li> <p> <font color="DodgerBlue">Talk</font>: <em>Tracing the early chemical evolution of Local Group dwarf galaxies using RR Lyrae stars</em>.
  <br>The Local Group: Assembly and Evolution, virtual symposium, 31 Aug - 4 Sep 2020. </li> </p>
  
<li> <p> <font color="DodgerBlue">Talk</font>: <em>A DECam follow-up of Centaurus I</em>.
  <br>DELVE Collaboration Meeting, virtual, 27-19 June 2020. </li> </p>

<li> <p> <font color="Gold">Invited talk</font>: <em>RR Lyrae stars in Milky Way satellites</em>.
  <br>Dark Energy Survey (DES) Collaboration Meeting, virtual, 18-22 May 2020. </li> </p>

<li> <p> <font color="Gold">Invited talk</font>: <em>What variable stars tell us about the formation and evolution of Local Group dwarf galaxies</em>.
  <br>Star Clusters 2020, La Serena, Chile, 9-11 March 2020. </li> </p>

<li> <p> <font color="DodgerBlue">Talk</font>: <em>Tracing the early chemical evolution of Local Group dwarf galaxies using RR Lyrae stars</em>.
  <br>RRL/Cep 2019 – Frontiers of Classical Pulsators: Theory and Observations, Cloudcroft, New Mexico (USA), 13-18 Oct 2019. </li> </p>

<li> <p> <font color="Tan">Poster</font>: <em>The Importance Of Finding RR Lyrae Stars In Ultra-Faint Dwarf Galaxies</em>.
  <br>IAU Symposium 355: The Realm of the Low Surface Brightness Universe, La Laguna, Tenerife (Spain), 8-12 Jul 2019. </li> </p>

<li> <p> <font color="DodgerBlue">Talk</font>: <em>RR Lyrae stars: hints about the early chemical evolution of the Universe</em>.
  <br>IV Workshop LSST Chile: Towards Science in Chile with LSST, La Serena, Chile, 6-9 Mar 2019. </li> </p>

<li> <p> <font color="LightGray">Poster</font>: <em>RR Lyrae stars: hints about the early chemical evolution of the Universe</em>.
  <br>XXX Canary Islands Winter School of Astrophysics: Big Data Analysis in Astronomy, La Laguna, Tenerife (Spain), 4-10 Nov 2018. </li> </p>

<li> <p> <font color="DodgerBlue">Talk</font>: <em>Digging into the early evolution of Local Group galaxies</em>.
  <br>Second binational meeting AAA-SOCHIAS 2018, La Serena, Chile, 7-12 Oct 2018. </li> </p>

<li> <p> <font color="DodgerBlue">Talk</font>: <em>RR Lyrae stars in ultra-faint dwarf satellites discovered by DES</em>.
  <br>Dark Energy Survey (DES) Collaboration Meeting, College Station, Texas (USA), 14-18 May 2018. </li> </p>

<li> <p> <font color="Gold">Invited talk</font>: <em>Variable stars in the Local Group using ground-based and HST data</em>.
  <br>ISSI-BJ Workshop on Astronomical Distance Determination in the Space Age, Beijing, China, 23-27 May 2016. </li> </p>

<li> <p> <font color="DodgerBlue">Talk</font>: <em>A revised ɸ31-period-metallicity relation for RR Lyrae stars</em>.
  <br>RRL 2015 conference: High precision studies of RR Lyrae stars from dynamical phenomena to mapping the galactic structure, Visegrad (Hungary), 18-22 Oct 2015. </li> </p>

<li> <p> <font color="LightGray">Poster</font>: <em>Old population gradients in Sculptor dSph: Studying its fast and early formation history</em>.
  <br>EWASS 2015: European Week of Astronomy and Space Science, La Laguna, Tenerife (Spain), 22-26 Jun 2015. </li> </p>

<li> <p> <font color="LightGray">Poster</font>: <em>RR Lyrae stars in Local Group dwarf galaxies</em>. 
  <br>Workshop RASPUTIN: Resolved And unresolved Stellar PopUlaTIoNs, Garching, Germany, 13-17 Oct 2014. </li> </p>

<li> <p> <font color="LightGray">Poster</font>: <em>Searching for chemical inhomogeneities in Open Clusters</em>. 
  <br>GREAT-INT School: The Galaxy, stellar composition and dynamics, Puerto de la Cruz, Tenerife (Spain), 2-6 Sep 2013. </li> </p>

<li> <p> <font color="DodgerBlue">Talk</font>: <em>Searching for star-to-star variations in the chemical composition for open clusters of different age and mass</em>. 
  <br>VI COEFFIS, VI Congreso de Estudiantes de la Facultad de Física, La Laguna, Tenerife (Spain), 14-15 Mar 2013. </li> </p>
</ul>

<!--
<br>
<h1> Meetings Organization </h1>

<ul>
  <li> <p> Member of the Local Organizing Committee of the meeting <em> DECam Community Science Workshop 2018: Science Highlights, Coming Opportunities, LSST Synergies </em> 
  held in Tucson (Arizona) in 21-22 May 2018 </p>
</ul>
-->

<br>
Other conferences/workshops/schools I have also participated are listed below:
<ul>
  <li> <p> <em> DELVE Collaboration meeting 2022. Tucson, Arizona (USA), Sep 15-16, 2022. </p> </li>  
  <li> <p> <em> Summer School in Astroinformatics II. Penn State Eberly College of Science + Virtual meeting [COVID], Jun 13-17, 2022. </p> </li>
  <li> <p> <em> Summer School in Statistics for Astronomers XVII. Penn State Eberly College of Science + Virtual meeting [COVID], Jun 6-10, 2022. </p> </li>
  <li> <p> <em> DELVE Collaboration meeting 2021. Virtual meeting [COVID], Oct 18-20, 2021. </p> </li>
  <li> <p> <em> Gemini Observatory 2021 Virtual Science Meeting. Virtual meeting [COVID], Aug 23-26, 2021. </p> </li>
  <li> <p> <em> A ZTF Summer School 2021. Virtual meeting [COVID], Aug 16-20, 2021. </p> </li>
  <li> <p> <em> The virtual Rubin Observatory Project & Community Workshop (PCW) 2021. Virtual meeting [COVID], Aug 9-13, 2021. </p> </li>
  <li> <p> <em> Machine Learning in Astronomy, from Classical to Physics-informed. Virtual meeting [COVID], Jul 28-29, 2021.</p> </li>
  <li> <p> <em> The Statistical Challenges in Modern Astronomy (SCMA) VII conference. Virtual meeting [COVID], Jun 7-10, 2021. </p> </li>
  <li> <p> <em> LSST Project & Community Workshop 2020</em>. Virtual [COVID], Aug 10-14, 2020. </p> </li>
  <li> <p> <em> ESO Conference: H0, Assessing Uncertainties in Hubble’s Constant Across the Universe</em>. Virtual[COVID], Jun 22-26,  2020. </p> </li>
  <li> <p> <em> DECam Community Science Workshop 2018: Science Highlights, Coming Opportunities, LSST Synergies</em>. Tucson, Arizona (USA), May 21-22, 2018. </p> </li>
  <li> <p> <em> Workshop Data Science ULS: Introducción Práctica a Herramientas Computacionales para Ciencias Intensivas en Datos</em>. La Serena (Chile), Dec 4-6, 2017. </p> </li>
  <li> <p> <em> Workshop ADONI 2017: The Adaptive Optics in Astronomy in Italy</em>. Padova (Italy), Apr 10-12, 2017. </p> </li>
  <li> <p> <em> X Spanish Virtual Observatory (SVO) School</em>. La Laguna (Spain), Mar 6-8, 2017. </p> </li>
</ul>
