---
layout: archive
title: "Contribution to Conferences and Seminars"
permalink: /talks/
author_profile: true
---
(Updated on October, 2020)

<!-- <p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p> -->

<!--
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
-->
<ul>
  <li> <p> Colloquium: <em>The formation and evolution of Local group dwarf galaxies told by their RR Lyrae stars</em>.
 Virtual seminar at Universidad de Chile (Departamento de Astrofísica, Cerro Calán), 10 Sep 2020. </li> </p>

   <li> <p> Talk: <em>Tracing the early chemical evolution of Local Group dwarf galaxies using RR Lyrae stars</em>.
 The Local Group: Assembly and Evolution, virtual symposium, 31 Aug - 4 Sep 2020. </li> </p>
  <li> <p> Talk: <em>A DECam follow-up of Centaurus I</em>.
DELVE Collaboration Meeting, online, 27-19 June 2020. </li> </p>

  <li> <p> Invited talk: <em>RR Lyrae stars in Milky Way satellites</em>.
Dark Energy Survey (DES) Collaboration Meeting, online, 18-22 May 2020. </li> </p>

  <li> <p> Invited talk: <em>What variable stars tell us about the formation and evolution of Local Group dwarf galaxies</em>.
Star Clusters 2020, La Serena, Chile, 9-11 March 2020. </li> </p>

  <li> <p> Talk: <em>Tracing the early chemical evolution of Local Group dwarf galaxies using RR Lyrae stars</em>.
RRL/Cep 2019 – Frontiers of Classical Pulsators: Theory and Observations, Cloudcroft, New Mexico (USA), 13-18 Oct 2019. </li> </p>

  <li> <p> Poster: <em>The Importance Of Finding RR Lyrae Stars In Ultra-Faint Dwarf Galaxies</em>.
IAU Symposium 355: The Realm of the Low Surface Brightness Universe, La Laguna, Tenerife (Spain), 8-12 Jul 2019. </li> </p>

  <li> <p> Talk: <em>RR Lyrae stars: hints about the early chemical evolution of the Universe</em>.
IV Workshop LSST Chile: Towards Science in Chile with LSST, La Serena, Chile, 6-9 Mar 2019. </li> </p>

  <li> <p> Poster: <em>RR Lyrae stars: hints about the early chemical evolution of the Universe</em>.
XXX Canary Islands Winter School of Astrophysics: Big Data Analysis in Astronomy, La Laguna, Tenerife (Spain), 4-10 Nov 2018. </li> </p>

  <li> <p> Talk: <em>Digging into the early evolution of Local Group galaxies</em>.
Second binational meeting AAA-SOCHIAS 2018, La Serena, Chile, 7-12 Oct 2018. </li> </p>

  <li> <p> Talk: <em>RR Lyrae stars in ultra-faint dwarf satellites discovered by DES</em>.
Dark Energy Survey (DES) Collaboration Meeting, College Station, Texas (USA), 14-18 May 2018. </li> </p>

  <li> <p> Invited talk: <em>Variable stars in the Local Group using ground-based and HST data</em>.
ISSI-BJ Workshop on Astronomical Distance Determination in the Space Age, Beijing, China, 23-27 May 2016. </li> </p>

  <li> <p> Talk: <em>A revised ɸ31-period-metallicity relation for RR Lyrae stars</em>.
RRL 2015 conference: High precision studies of RR Lyrae stars from dynamical phenomena to mapping the galactic structure, Visegrad (Hungary), 18-22 Oct 2015. </li> </p>

  <li> <p> Poster: <em>Old population gradients in Sculptor dSph: Studying its fast and early formation history</em>.
EWASS 2015: European Week of Astronomy and Space Science, La Laguna, Tenerife (Spain), 22-26 Jun 2015. </li> </p>

  <li> <p> Poster: <em>RR Lyrae stars in Local Group dwarf galaxies</em>. 
Workshop RASPUTIN: Resolved And unresolved Stellar PopUlaTIoNs, Garching, Germany, 13-17 Oct 2014. </li> </p>

  <li> <p> Poster: <em>Searching for chemical inhomogeneities in Open Clusters</em>. 
GREAT-INT School: The Galaxy, stellar composition and dynamics, Puerto de la Cruz, Tenerife (Spain), 2-6 Sep 2013. </li> </p>

  <li> <p> Talk: <em>Searching for star-to-star variations in the chemical composition for open clusters of different age and mass</em>. 
VI COEFFIS, VI Congreso de Estudiantes de la Facultad de Física, La Laguna, Tenerife (Spain), 14-15 Mar 2013. </li> </p>
</ul>

<br>
<h1> Meetings Organization </h1>

<ul>
  <li> <p> Member of the Local Organizing Committee of the meeting <em> DECam Community Science Workshop 2018: Science Highlights, Coming Opportunities, LSST Synergies </em> 
  held in Tucson (Arizona) in 21-22 May 2018 </p>
</ul>

<br>
<h1> Attending </h1>

<ul>
  <li> <p> <em> LSST Project & Community Workshop 2020</em>, 10-14 Aug 2020, Online </p> </li>
  <li> <p> <em> ESO Conference: H0, Assessing Uncertainties in Hubble’s Constant Across the Universe</em>, 22-26 June 2020, Online </p> </li>
  <li> <p> <em> Workshop Data Science ULS: Introducción Práctica a Herramientas Computacionales para Ciencias Intensivas en Datos</em>, 4-6 Dec 2017, La Serena (Chile) </p> </li>
  <li> <p> <em> Workshop ADONI 2017: The Adaptive Optics in Astronomy in Italy</em>, 10-12 Apr 2017, Padova (Italy) </p> </li>
  <li> <p> <em> X Spanish Virtual Observatory (SVO) School</em>, 6-8 Mar 2017, La Laguna (Spain) </p> </li>
</ul>
